<h1> Task Details</h1>

<h3><%= @task.title %> </h3>
<%= @task.details %>
<%= @task.completed %>

<%= link_to "Update",
  edit_task_path(@task)
%>

<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
